type project
owners
    pocketberserker
authors
    pocketberserker
projectUrl
    https://github.com/pocketberserker/FSharp.Data.Bits
licenseUrl
    https://github.com/perpocketberserker/FSharp.Data.Bits/blob/master/LICENSE
requireLicenseAcceptance
    false
tags
    fsharp typeprovider
description
    .
